---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    A biomedical engineer by training (B.S./M.S. in Biomedical Engineering (Biomaterials, Biomechanics)) looking to expand customer's designs into innovative products within their perspective industries. Currently I consult as a product development engineer, and contribute knowledge as a Content/Technical Writer.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master of Science in Biomedical Engineering"
      subtitle="Sept. 2017 to Dec. 2018 at New Jersey Institute of Technology, Newark, NJ"
    />
    <TimeLineElement
      title="Bachelor of Science in Biomedical Engineering"
      subtitle="Sept. 2013 to May 2017 at New Jersey Institute of Technology, Newark, NJ"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Development Manufacturing Engineer, Healthcare"
      subtitle="From April 2022 to May 2023 at 3D Systems, Littleton, Colorado"
    >
      Developed reliable, repeatable, and scalable additive manufacturing processes by leveraging multi-disciplinary teams. Interfaced with customers on additive manufacturing process-related inquiries and issues.
    </TimeLineElement>
    <TimeLineElement
      title="Senior Engineer, Product Development"
      subtitle="From June 2021 to January 2022 at Stryker Orthopedics, Mahwah, New Jersey"
    >
      Evaluated fit-for-use testing, conducted mechanical verification (transit/drop vibration) testing, user validation activities related to cases and trays team. Utilized CREO to produce surgical templates while collaborating alongside stakeholders (surgeons) to ensure requirements outlined in engineering drawings and customer feedback meetings were met.
    </TimeLineElement>
    <TimeLineElement
      title="Creative Engineer, Consultant (Part-Time)"
      subtitle="From January 2022 to Present at Enable Product Development, New Jersey/Colorado"
    >
      Developed mechanical designs for products to be manufactured using additive technologies (FDM/FFF, SLA, MSLA). Evaluated designs using CAE/FEA software to maximize performance and mechanical integrity. Established relationships with start-up/small stage companies to create Minimal Viable Products (MVP).
    </TimeLineElement>
    <TimeLineElement
      title="Mechanical/Automation Engineer, R&D"
      subtitle="From February 2019 to August 2022 at Aprecia Pharmaceuticals, East Windsor, New Jersey"
    >
      Led 3DP R&D automated dosing and agitation equipment development and implementation. Developed critical infrastructure for Next-Generation 3DP cGMP Pharmaceutical Manufacturing Equipment. Created/Executed URS, FAT, and SAT for cGMP pharmaceutical manufacturing equipment. Collaborated and maintained relationships with internal stakeholds, vendors to sell and transfer unique 3DP platform. Inventor, awarded 2 patents.
    </TimeLineElement>
    <TimeLineElement
      title="Production Engineer"
      subtitle="From January 2018 to February 2019 at Getinge (Boston Scientific), Wayne, New Jersey"
    >
      Executed/coordinated validation efforts for several cGMP manufacturing processes within two product lines (HemoPro and HemoPro 2). Authored test protocols/reports for process validations (IQ, OQ, PQ, Design Verification).
    </TimeLineElement>
    <TimeLineElement
    title="Project Engineer"
    subtitle="From September 2016 to January 2018 at Upstart Product Development, Newark, New Jersey"
  >
    Created device housing and tooling using Solidworks, which was implemented into medical device. Advanced a marketable device suitable of relieving muscle fatigue in orthopedic surgeons. Maintained relationships with clients (surgeons) and suppliers to produce components essential to outlined customer requirements.
  </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Patents & Publications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://patents.google.com/patent/US20230190661A1/en?oq=US2023190661A1" target="_blank"> Multi-component packaged dosage form and method, US2023190661A1</a>
    </li>
    <li>
      <a href="https://patents.google.com/patent/US20210393533A1/en?oq=US20210393533A1" target="_blank"> Method and system for forming a dosage form within a packaging, US20210393533A1</a>
    </li>
    <li>
      Siyu Shi, Peter K. Nguyen, Henry J. Cabral, Ramon Diez-Barroso, Paul J. Derry, Satoko M. Kanahara, Vivek A. Kumar, Development of peptide inhibitors of HIV transmission, Bioactive Materials, Volume 1, Issue 2, 2016, Pages 109-121, ISSN 2452-199X,
      https://doi.org/10.1016/j.bioactmat.2016.09.004.
      (https://www.sciencedirect.com/science/article/pii/S2452199X16300196)
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Awards</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a>2021 CPHI Pharma Award, Excellence in Pharma: Manufacturing Technology and Equipment, In-Cavity Powder Liquid 3D Printing Solution
      </a>
    </li>
  </ul>
</BaseLayout>
