---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Additional Projects</div>
    <div class="font-bold mb-5">Latest projects listed on the homepage.</div>
  </div>

  <HorizontalCard
    title="Design & Simulation of Orthopedic Implants"
    img="/projects-simulate-001.png"
    desc="Analyzed several implants: knee, skull, bone to determine how these implants behave under certain static loading conditions. Utilized CREO Simulate to conduct analyses."
    badge="Medical Devices"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Surgical Template Design for Orthopedic Surgeons"
    img="/projects-surgical-001.png"
    desc="Developed surgical templates alongside feedback from orthopedic surgeons to determine sizing and implant positioning."
    badge="Medical Devices"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Desigining Dosators for Pharmaceutical Manufacturing"
    img="/projects-dosage-003.png"
    desc="Developed semi-automated dosators to dose different quantities of various types of powder."
    badge="Pharmaceutical"
  />
</BaseLayout>
