---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Services</div>
  </div>

  <HorizontalCard
    title="Mechanical Design & Development"
    desc="I can provide CAD files of your prototype or design using Solidworks or Fusion 360. If you need assistance creating a design or mapping out which design is best suitable for your minimal viable product, I can provide an in-depth analysis based on your needs and transform that into a few mockups."
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Additive Manufacturing Consulting (DfAM)"
    desc="With over 7 years of experience working with additive technologies, I am able to provide guidance on what technology is best for your specific product. Technologies I've worked with include: FDM/FFF, SLA, MSLA, Binder Jetting and DMLS. Depending on which technology you use, I can provide design considerations and tweaks to optimization your future product."
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Rapid Prototyping"
    desc="I can proivde guidance on technology can best manufacture your product."
  />
</BaseLayout>
